
  <link href="/pagefind/pagefind-component-ui.css" rel="stylesheet">
  <script type="module" src="/pagefind/pagefind-component-ui.js"></script>
  <pagefind-input></pagefind-input>
<pagefind-summary></pagefind-summary>
<pagefind-results></pagefind-results>


<pagefind-filter-dropdown
  filter="section"
  label="Section">
</pagefind-filter-dropdown>


