<div class="mw-content-ltr mw-parser-output" lang="en" dir="ltr"><ol><li><a href="http://127.0.0.1:8080/w/index.php/Kargil_War" title="Kargil War">Kargil War</a></li>
<li><a href="http://127.0.0.1:8080/w/index.php/IAS" title="IAS">IAS</a></li>
<li><a href="http://127.0.0.1:8080/w/index.php/Bhagat_Singh" title="Bhagat Singh">Bhagat Singh</a></li>
<li><a href="http://127.0.0.1:8080/w/index.php/EVM" title="EVM">EVM</a></li>
<li><a href="http://127.0.0.1:8080/w/index.php/Changez_Khan" title="Changez Khan">Changez Khan</a></li>
<li><a href="http://127.0.0.1:8080/w/index.php/Vaad" title="Vaad">Vaad</a></li>
<li><a href="http://127.0.0.1:8080/w/index.php/Vivekananda" title="Vivekananda">Vivekananda</a></li>
<li><a href="http://127.0.0.1:8080/w/index.php/RRP" title="RRP">RRP</a></li>
<li><a href="http://127.0.0.1:8080/w/index.php/Iran" title="Iran">Iran</a></li>
<li><a href="http://127.0.0.1:8080/w/index.php/Judges" title="Judges">Judges</a></li>
<li><a href="http://127.0.0.1:8080/w/index.php/Gun" title="Gun">Gun</a></li>
<li><a href="http://127.0.0.1:8080/w/index.php/Padmavat" title="Padmavat">Padmavat</a></li>
<li><a href="http://127.0.0.1:8080/w/index.php/Right_to_Recall" title="Right to Recall">Right to Recall</a></li>
<li><a href="http://127.0.0.1:8080/w/index.php?title=HiJack&amp;action=edit&amp;redlink=1" class="new" title="HiJack (page does not exist)">HiJack</a></li>
<li><a href="http://127.0.0.1:8080/w/index.php/Venezuela" title="Venezuela">Venezuela</a></li>
<li><a href="http://127.0.0.1:8080/w/index.php/Cow" title="Cow">Cow</a></li>
<li><a href="http://127.0.0.1:8080/w/index.php/Manipur" title="Manipur">Manipur</a></li></ol>
<h2><span class="mw-headline" id="Contact_information_for_RRP">Contact information for RRP</span></h2>
<p>Please contacts us to participate in RIGHT TO RECALL movement
</p>
<h3><span class="mw-headline" id="EVM_HATAO_SENA">EVM HATAO SENA</span></h3>
<p>to connect with Evmhatao Sena ie EvmHatao.com, and Right to Recall Party, pls do following 
</p>
<ol><li>pls join these whatsapp channels
<ol><li><a rel="nofollow" class="external free" href="https://www.tinyurl.com/EvmHatao1">https://www.tinyurl.com/EvmHatao1</a></li>
<li><a rel="nofollow" class="external free" href="https://www.tinyurl.com/EvmHatao4">https://www.tinyurl.com/EvmHatao4</a></li>
<li><a rel="nofollow" class="external free" href="https://www.tinyurl.com/Rcm003">https://www.tinyurl.com/Rcm003</a></li>
<li><a rel="nofollow" class="external free" href="https://www.tinyurl.com/WacRcm3">https://www.tinyurl.com/WacRcm3</a></li></ol></li></ol>
<ol><li>pls join these FB groups
<ol><li><a rel="nofollow" class="external text" href="https://www.facebook.com/groups/evmhatao3">EvmHataoSena Facebook</a></li>
<li>fb.com/groups/righttorecallparty</li>
<li>fb.com/groups/evmhatao3</li></ol></li>
<li>pls see these two websites everyday
<ol><li><a rel="nofollow" class="external free" href="https://EvmHatao.com">https://EvmHatao.com</a></li>
<li><a rel="nofollow" class="external free" href="https://RahulMehta.com">https://RahulMehta.com</a></li></ol></li></ol>
<!-- 
NewPP limit report
Cached time: 20260126045501
Cache expiry: 86400
Reduced expiry: false
Complications: []
CPU time usage: 0.193 seconds
Real time usage: 0.301 seconds
Preprocessor visited node count: 5/1000000
Post‐expand include size: 683/2097152 bytes
Template argument size: 0/2097152 bytes
Highest expansion depth: 3/100
Expensive parser function count: 0/100
Unstrip recursion depth: 0/20
Unstrip post‐expand size: 0/5000000 bytes
-->
<!--
Transclusion expansion time report (%,ms,calls,template)
100.00%   24.667      1 Template:Contact
100.00%   24.667      1 -total
-->

<!-- Saved in parser cache with key RRP:pcache:idhash:1-0!canonical and timestamp 20260126045501 and revision id 145. Rendering was triggered because: page-view
 -->
</div>