body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d3d1d41e;
    color: #333;
    line-height: 1.5;
  }

br {
    display: block;
    line-height: 265666;
}

table {
    table-layout: fixed;
    border: 3px solid rgb(196, 186, 186);
    border-collapse: collapse;
}

th {
    border: 1px solid black;
}

tr {
    border: 1px solid rgb(218, 201, 201);
}

th:nth-child(1) {
    text-align: start;
    width: 10ch;
}

th:nth-child(2) {
    width:20ch;
    text-align: start;
}

th:nth-child(3) {
    text-align: start;
    width: 20ch
}

main {
    line-height: 1.5;
}    /*
     Dropdown container
     a GRID item
     */
    .dropdown {
        position: relative;
        grid-column: 3 / 4;
        align-self: last baseline;
        justify-self: center;
        z-index: 2;
    }

@media screen and (max-width:
    400px ) {

    .dropdown {
        position: relative;
        grid-column: 2 / 4;
        grid-row: 2 / 3;
        align-self: last baseline;
        justify-self: end;
        margin-right: 2vw;
        z-index: 2;
    }


}
    .dropdown-content {
        display: none;
        position: absolute;
        right: 0%;
        background-color: black;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
        padding: 10px 0;
        border-radius: 5px;
        z-index: 1;
        right: 555;
        color: white;
    }

    .dropdown button {
        color: hsl(0, 0%, 0%);
        padding-top: clamp(0, 3vw, 5px);
        padding-bottom: clamp(0, 3vw, 5px);
        padding-left: clamp(0, 5vw, 15px);
        padding-right: clamp(0, 5vw, 15px);
        border: none;
        cursor: pointer;
        font-size: 16px;
        border-radius: 5px;
        z-index: 2;
    }

    .dropdown-content a {
        color: white;
        padding: 10px 20px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #333;
      }

      /* Show dropdown on hover */
      .dropdown:hover .dropdown-content {
        display: block;
      }footer {
    display: grid;

    grid-template-areas:
        "contact about"
        "social join"
        "disclaimer disclaimer";
    justify-items: center;
    background-color: #666464;

    text-align: center;
    margin-top: 100px;
    padding: 10px;

}

footer p a {
    color: rgb(252, 244, 244);
    text-decoration: none;
    display: inline;
    font-size: 17px;
    font-weight: bolder;
}

footer>a {
    color: black;
    font-size: medium;
    margin-bottom: 1ch;
}

/*
.disclaimer {
   
    justify-self: stretch;
    grid-area: disclaimer;
    color: white;
    text-align: start;
}
*/

.disclaimer {                                 margin-top: 40px;
  padding: 12px 16px;
                                              font-size: 12.5px;
  line-height: 1.45;
  color: #555;
  text-align: center;

  background: #f6f6f6;
  border-top: 1px solid #ddd;
}

header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 3fr 1fr;
  
    #org-name {
      grid-column: 2 / 3;
      margin-top: 1cap;
      margin-bottom: 0;
      padding: 0;
  
      display: flex;
      font-size: clamp(15px, 10vw, 35px);
      justify-content: center;
      text-align: center;
    }
}

#motto {
  font-style: normal;
 
}



/*this tops links.css reason not clear, perhaps main a*/
main a {
    font-weight: 100;
    color: hsla(249, 62%, 29%, 0.993);
    display: block;
    margin-bottom: 2vh;
}

  a {
    color: #6200ea;
    text-decoration: none;
    font-weight: bold;
  }
  
  a:hover {
    text-decoration: underline;
  }
  main {
  flex: 1;
  text-align: start;
  font-style: normal;
  position: relative;
  justify-self: center;
  margin: 5vw;
  max-width: 80ch;
}

p {
    margin-bottom: 1vh;
  }

q {
    font-weight: bold;
}
