---
layout: layouts/base.njk

pagination:
  data: drafts
  size: 1
  alias: draft

permalink: "/drafts/en/{{ draft.shortName }}/"

eleventyComputed:
  eleventyNavigation:
    key: "{{ draft.shortName }}ennav"
    title: "{{ draft.enTitle or draft.shortName }}"
    parent: drafts-en
---

<article class="draft">

  <h1>{{ draft.enTitle or draft.shortName }}</h1>

  {% if draft.enDesc %}
    <div class="gist">
      {{ draft.enDesc }}
    </div>
  {% endif %}

  {% if draft.enDrive %}
    <p>
      <a href="{{ draft.enDrive }}" target="_blank" rel="noopener">
        Google Drive
      </a>
    </p>
  {% endif %}

  {% if draft.enFb %}
    <p>
      <a href="{{ draft.enFb }}" target="_blank" rel="noopener">
        Facebook
      </a>
    </p>
  {% endif %}

  <hr>

{% renderFile "_includes/drafts/en/" + draft.shortName + ".md" %}
</article>
