---
title: List of All Draft Laws
layout: layouts/base.njk
---

<h1>English Drafts</h1>

{% set posts = drafts | sort(false, false, "id") %}

{% for draft in posts %}

  <article class="draft">

    <h2>
      <a href="/drafts/en/{{ draft.shortName }}/">
        {{ draft.id }}. {{ draft.enTitle or draft.shortName }}
      </a>
    </h2>

    {% if draft.enDesc %}
      <div class="gist">
        {{ draft.enDesc }}
      </div>
    {% endif %}

    <p>
      <a href="/drafts/en/{{ draft.shortName }}/">
        Read the full draft →
      </a>
    </p>

  </article>

  <hr>

{% endfor %}
