---
layout: layouts/base.njk

pagination:
  data: drafts
  size: 1
  alias: draft

permalink: "/drafts/hi/{{ draft.shortName }}/"

eleventyComputed:
  eleventyNavigation:
    key: "draft-hi-{{ draft.shortName }}"
    parent: "drafts-hi"
    title: "{{ draft.hiTitle or draft.shortName }}"
---
<pre>
key: {{ eleventyNavigation.key }}
parent: {{ eleventyNavigation.parent }}
title: {{ eleventyNavigation.title }}
</pre>
<article class="draft">

  <h1>{{ draft.hiTitle or draft.shortName }}</h1>

  {% if draft.hiDesc %}
    <div class="gist">
      {{ draft.hiDesc }}
    </div>
  {% endif %}

  {% if draft.hiDrive %}
    <p>
      <a href="{{ draft.hiDrive }}" target="_blank" rel="noopener">
        Google Drive
      </a>
    </p>
  {% endif %}

  {% if draft.hiFb %}
    <p>
      <a href="{{ draft.hiFb }}" target="_blank" rel="noopener">
        Facebook
      </a>
    </p>
  {% endif %}

  <hr>

  {% renderFile "_includes/drafts/hi/" + draft.shortName + ".md" %}

</article>
