---
title: सभी कानूनों की सूची
layout: layouts/base.njk
eleventyNavigation:
  key: drafts-hi
  parent: drafts
---

<h1>हिंदी ड्राफ्ट्स</h1>

{% set posts = drafts | sort(false, false, "id") %}

{% for draft in posts %}

  <article class="draft">

    <h2>
      <a href="/drafts/hi/{{ draft.shortName }}/">
        {{ draft.id }}. {{ draft.hiTitle or draft.shortName }}
      </a>
    </h2>

    {% if draft.hiDesc %}
      <div class="gist">
        {{ draft.hiDesc }}
      </div>
    {% endif %}

    {% if draft.hiDrive %}
      <p>
        <a href="{{ draft.hiDrive }}" target="_blank" rel="noopener">
          PDF
        </a>
      </p>
    {% endif %}

    {% if draft.hiFb %}
      <p>
        <a href="{{ draft.hiFb }}" target="_blank" rel="noopener">
          Facebook
        </a>
      </p>
    {% endif %}

  </article>

  <hr>

{% endfor %}
