---
layout: layouts/base.njk
title: "Facebook Archives"
---

<h2>Facebook Archives</h2>

<ul>
  {% for yData in collections.postsByYear %}
    <li><a href="/fb-export/{{ yData.year }}/">{{ yData.year }} Archives</a></li>
  {% endfor %}
</ul>
