<header data-pagefind-ignore class="elv-header{% if headerClass %} {{ headerClass }}{% endif %}">
  <div class="page-container elv-header-inner">

    <!-- ROW 1: Party name -->
    <div class="header-brand">
    <a href="{% if lang == 'hi' %}/hi/{% else %}/{% endif %}">
    <span class="brand-link">
      {% if lang == 'hi' %}
        राइट टू रिकॉल<br>पार्टी
      {% else %}
        Right to Recall<br>Party
      {% endif %}
     </span>
     </a>
     </div>


    <!-- ROW 2: Search -->
    {% include "search/search.njk" %}

    <!-- ROW 3: Display Settings -->
    {% include "header/toolbar.njk" %}

    <!-- ROW 4: Language Switcher -->
    {% include "header/lang-switcher.njk" %}

    <!-- ROW 6: Navigation Tree -->
    {% include "components/nav-tree.njk" %}

  </div>
</header>
