<header data-pagefind-ignore class="elv-header{% if headerClass %} {{ headerClass }}{% endif %}">
  <div class="page-container elv-header-inner">

    <!-- ROW 1: Party name -->
    <div class="header-brand">
      <a href="/">
      <span class="brand-link" >
        Right to Recall<br>
        Party </span>
      </a>
    </div>

    <!-- ROW 2: Sections -->
    {% include "header/section.njk" %}
    
    <!-- ROW 3: Search -->
    <!--
    <div class="header-search">
      <link href="/pagefind/pagefind-ui.css" rel="stylesheet">
      <script src="/pagefind/pagefind-ui.js"></script>

      <div id="search"></div>

      <script>
        window.addEventListener('DOMContentLoaded', () => {
          new PagefindUI({
            element: "#search",
            showSubResults: true
          });
        });
      </script>
    </div>
	-->

<!-- ROW 3: Search -->


<div class="header-search">

<link href="/pagefind/pagefind-component-ui.css" rel="stylesheet">
<script type="module" src="/pagefind/pagefind-component-ui.js"></script>

  <button id="search-button" type="button">
    🔍 Search
  </button>

  <div id="search-panel" hidden>

    <pagefind-config preload faceted></pagefind-config>

    <pagefind-input></pagefind-input>

<pagefind-filter-dropdown
    filter="author"
    label="Author">
</pagefind-filter-dropdown>

<pagefind-filter-dropdown
    filter="group"
    label="Group">
</pagefind-filter-dropdown>

<pagefind-filter-dropdown
    filter="lang"
    label="Language">
</pagefind-filter-dropdown>

<pagefind-filter-dropdown
    filter="source"
    label="Source">
</pagefind-filter-dropdown>

    <pagefind-summary></pagefind-summary>

    <pagefind-results></pagefind-results>

  </div>

</div>
<script>
document.addEventListener("DOMContentLoaded", () => {
    const button = document.getElementById("search-button");
    const panel = document.getElementById("search-panel");

    button.addEventListener("click", () => {
        panel.hidden = !panel.hidden;
    });
});
</script>

    <!-- ROW-4  -->
    {% include "header/lang-switcher.njk" %}

  </div>
</header>
