<header data-pagefind-ignore class="elv-header{% if headerClass %} {{ headerClass }}{% endif %}">
  <div class="page-container elv-header-inner">

    <!-- ROW 1: Party name -->
    <div class="header-brand">
      <a href="/">
      <span class="brand-link" >
        Right to Recall<br>
        Party </span>
      </a>
    </div>

    <!-- ROW 2: Sections -->
    {% include "header/section.njk" %}
    
    <!-- ROW 3: Search -->
    {% include "search/search.njk" %}
       <!-- ROW 3.5: Display Settings -->
    {% include "header/toolbar.njk" %}

        <!-- ROW-4  -->
    {% include "header/lang-switcher.njk" %}

  </div>
</header>
