<nav class="header-sections">
  <ul class="elv-nav-menu">
    <li>
      <details class="nav-expand">
        <summary>
          {% if lang == "hi" %}
            ड्राफ्ट्स
          {% else %}
            Drafts
          {% endif %}
        </summary>

        <ul>
          {% for draft in drafts | sort(false, false, "id") %}

            <li>
              <a href="/drafts/{{ lang }}/{{ draft.shortName }}/">
                {{ draft.id }}.
                {% if lang == "hi" %}
                  {{ draft.hiTitle or draft.shortName }}
                {% else %}
                  {{ draft.enTitle or draft.shortName }}
                {% endif %}
              </a>
            </li>

          {% endfor %}
        </ul>

      </details>
    </li>
  </ul>
</nav>
