<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="google-site-verification"
        content="nOVhyCaoXpjBXXPo-CqrEgfb2rKBCeNpaKtmZ-xNaeM">

  <title>{{ title or "Right to Recall Party" }}</title>

  <link rel="stylesheet" href="/bundle.css">
  <script src="/bundle.js" defer></script>

</head>

<body>

  {# HEADER (global navigation) #}
  {% include "header.njk" %}

  {# BREADCRUMB (contextual, page-specific) #}
  {% if eleventyNavigationBreadcrumb %}
  <nav class="breadcrumb" aria-label="Breadcrumb">
    {% for crumb in eleventyNavigationBreadcrumb %}
      {% if loop.last %}
        <span>{{ crumb.title }}</span>
      {% else %}
        <a href="{{ crumb.url }}">{{ crumb.title }}</a>
        <span class="sep">›</span>
      {% endif %}
    {% endfor %}
  </nav>
  {% endif %}

  {# MAIN CONTENT #}
  <main>
	<div class="content">
    {{ content | safe }}
    	</div>
  </main>

  {% include "footer.html" %}

</body>
</html>
