<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="google-site-verification"
        content="nOVhyCaoXpjBXXPo-CqrEgfb2rKBCeNpaKtmZ-xNaeM">

  
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-HHVG075GJS"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-HHVG075GJS');
</script>


  <title>{{ title or "Right to Recall Party" }}</title>

  <link rel="stylesheet" href="/bundle.css">
  <script src="/bundle.js" defer></script>

</head>

<body>

	{# HEADER (global navigation) #}
	{% include "header.njk" %}

  
  {# MAIN CONTENT #}
  <main>
	<div class="content">

		{% set segments = page.url | pathSegments %}

{% if segments.length > 1 %}
  <nav class="breadcrumb" aria-label="Breadcrumb">
    <a href="/">Home</a>

    {% set currentPath = "" %}
    {% for part in segments %}
      <span class="crumb-sep">›</span>

      {% set currentPath = currentPath + "/" + part + "/" %}

      {% if loop.last %}
        <a href="{{ page.url }}">
          {{ part | replace("-", " ") | title }}
        </a>
      {% else %}
        {% set hasIndex = false %}
        {% for p in collections.all %}
          {% if p.url == currentPath %}
            {% set hasIndex = true %}
          {% endif %}
        {% endfor %}

        {% if hasIndex %}
          <a href="{{ currentPath }}">
            {{ part | replace("-", " ") | title }}
          </a>
        {% else %}
          <span class="crumb-disabled">
            {{ part | replace("-", " ") | title }}
          </span>
        {% endif %}
      {% endif %}
    {% endfor %}
  </nav>
{% endif %}

		    {{ content | safe }}
    	</div>
  </main>

  {% include "footer.html" %}

</body>
</html>
